  <% @notifications.each do |index, n| %>
  <h2 class="notification-day"><%= custom_format(index) %></h2>
    <li>
      <% n.each do |notification| %>

      <%= link_to post_path(notification.post.id) do %>
        <div class="notificationCard">
            <div>
              <%= cl_image_tag (notification.comment.user.avatar), :class =>"notifications-avatar mt-1" %>
            </div>
            <div class="notificationContent">
              <div class="user-notice">
                <h6 class="pr-3"><%= notification.comment.user.first_name %> <%= notification.comment.user.last_name %></h6>
                <p><%= notification.event %></p>
              </div>
                <div class="timestamp">
                  <%= notification.created_at.in_time_zone.strftime("%b. %d, %I:%M %p ") %>
                </div>
            </div>
        </div>
      <% end %>
      <% end %>
    </li>
  <hr>

<% end %>
