<li>
  <%= link_to post_path(notification.post.id) do %>
    <%= notification.event %>
    <span> <%= notification.created_at.strftime("  %d %b. %Y") %>   <%= notification.comment.user.first_name %> <%= notification.comment.user.last_name %></span>
  <% end %>
</li>
