  <% @notifications.each do |index, n| %>
  <h2 class="notification-day"><%= custom_format(index) %></h2>
    <li>
      <% n.each do |notification| %>

        <%= link_to post_path(notification.post.id) do %>
          <div class="notificationCard">
            <div class="user-info">
                <div style ="position: relative">
                  <%= cl_image_tag (notification.comment.user.avatar), :class =>"notifications-avatar" %>
                  <% if current_user.get_voted(Hinanjyo).first == notification.comment.user.get_voted(Hinanjyo).first %>
                    <i class="fas fa-check-circle" style ="position: absolute"></i>
                  <% end %>
                </div>
                <div class="name-time">
                  <h6><%= notification.comment.user.first_name %> <%= notification.comment.user.last_name %> <%= notification.event %></h6>
                <p class="notification-user-comment">" <%= notification.comment.content %> "</p>
                  <div class="timestamp">
                    <%= notification.created_at.in_time_zone.strftime("%b. %d, %I:%M %p ") %>
                  </div>
                </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </li>
  <hr>

<% end %>
