<li>
  <% unless notification.comment.user == current_user %>
    <%= link_to post_path(notification.post.id) do %>
      <%if notification.created_at.to_date == @today %>
        <h3>Today</h3>
            <div class="notificationCard">
                <div>
                  <%= cl_image_tag (notification.comment.user.avatar), :class =>"notifications-avatar mt-1" %>
                </div>
                <div class="notificationContent">
                  <div class="user-notice d-flex">
                    <h6 class="pr-3"><%= notification.comment.user.first_name %> <%= notification.comment.user.last_name %></h6>
                    <p><%= notification.event %></p>
                  </div>
                    <div class="timestamp">
                      <%= notification.created_at.strftime("%b. %d, %I:%M %p ") %>
                    </div>
                </div>
            </div>
        <% elsif notification.created_at.to_date == @yesterday %>
          <h3>Yesterday</h3>
            <div class="notificationCard">
                <div>
                  <%= cl_image_tag (notification.comment.user.avatar), :class =>"notifications-avatar mt-1" %>
                </div>
                <div class="notificationContent">
                  <div class="user-notice d-flex">
                    <h6 class="pr-3"><%= notification.comment.user.first_name %> <%= notification.comment.user.last_name %></h6>
                    <p><%= notification.event %></p>
                  </div>
                    <div class="timestamp">
                      <%= notification.created_at.strftime("%b. %d, %I:%M %p ") %>
                    </div>
                </div>
          </div>
          <% else %>
          <h3><%=  notification.created_at.month %></h3>
          <div class="notificationCard">
              <div>
                <%= cl_image_tag (notification.comment.user.avatar), :class =>"notifications-avatar mt-1" %>
              </div>
              <div class="notificationContent">
                <div class="user-notice d-flex">
                  <h6 class="pr-3"><%= notification.comment.user.first_name %> <%= notification.comment.user.last_name %></h6>
                  <p><%= notification.event %></p>
                </div>
                  <div class="timestamp">
                    <%= notification.created_at.strftime("%b. %d, %I:%M %p ") %>
                  </div>
              </div>
          </div>
      <% end %>
    <% end %>
     <hr>
  <% end %>
</li>


