<div class="nav-bar d-flex justify-content-around pt-1">
  <%= link_to helpers_shelters_path, :action => 'go' do  %>
  <div class="help-icon">
    <%# if current_page?('helpers/shelters') %>
    <%= image_tag "navbar/hand.png", alt: "hand icon", class: "ml-2" %>
    <%# else %>
    <%#= image_tag "navbar/hand-white", alt: "hand icon active" %>
    <%# end %>
    <p>Offer Help</p>
  </div>
  <% end %>
  <%= link_to notifications_path, :action => 'go' do  %>
    <div class="notif-icon">
      <% if user_signed_in? %>
        <%= render 'notifications/counter', counter: current_user.notifications.count %>
      <% end %>
      <%= image_tag "navbar/bell.png", alt: "bell icon", class: "ml-4" %>
      <p>Notifications</p>
    </div>
  <% end %>
  <%= link_to root_path, :action => 'go' do  %>
    <div class="home-icon">
      <% if current_page?(controller:'/pages', action:'home') %>
      <%= image_tag "navbar/home-white.png", alt: "home icon active", class: "ml-1" %>
      <p style="font-weight: 500;">Home</p>
      <% else %>
      <%= image_tag "navbar/home.png", alt: "home icon", class: "ml-1" %>
      <p>Home</p>
      <% end %>
    </div>
  <% end %>
  <% if user_signed_in? && current_user.get_voted(Hinanjyo).size == 1 %>
    <%= link_to shelter_path(current_user.get_voted(Hinanjyo).first.id), :action => 'go' do %>
      <div class="shelter-icon">
        <% if current_page?(shelter_path(current_user.get_voted(Hinanjyo).first.id)) %>
          <%= image_tag "navbar/shelter-white.png", alt: "shelter icon active", class: "ml-2" %>
          <p style="font-weight: 500;">My Shelter</p>
        <% else %>
          <%= image_tag "navbar/shelter.png", alt: "shelter icon", class: "ml-2" %>
          <p>My Shelter</p>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <%= link_to destroy_user_session_path, :method => 'delete' do  %>
    <div class="settings-icon">
      <%= image_tag "navbar/settings.png", alt: "settings icon", class: "ml-1" %>
      <p>Settings</p>
    </div>
  <% end %>
</div>
