<div class="nav-bar d-flex justify-content-around">
  <%= link_to home_path, :action => 'go' do  %>
    <div class="home-icon">
      <% if current_page?(controller:'/pages', action:'home') %>
      <%= image_tag "navbar/home-white.png", alt: "home icon active", class: "ml-1" %>
      <p style="font-weight: 500;">Home</p>
      <% else %>
      <%= image_tag "navbar/home.png", alt: "home icon", class: "ml-1" %>
      <p>Home</p>
      <% end %>
    </div>
  <% end %>
  <%= link_to helpers_shelters_path, :action => 'go' do  %>
  <div class="help-icon">
    <% if current_page?(controller:'helpers/hinanjyos', action:'index') %>
      <%= image_tag "navbar/hand-white.png", alt: "hand icon", class: "ml-3" %>
    <% else %>
      <%= image_tag "navbar/hand.png", alt: "hand icon active", class: "ml-3" %>
    <% end %>
    <p>Offer Help</p>
  </div>
  <% end %>
  <% if user_signed_in? && current_user.get_voted(Hinanjyo).size == 1 %>
    <%= link_to shelter_path(current_user.get_voted(Hinanjyo).first.id), :action => 'go' do %>
      <div class="shelter-icon">
        <% if current_page?(shelter_path(current_user.get_voted(Hinanjyo).first.id)) %>
          <%= image_tag "navbar/favourite-house-filled.png", alt: "shelter icon active", class: "ml-3" %>
          <p style="font-weight: 500;">My Shelter</p>
        <% else %>
          <%= image_tag "navbar/favorite-house.png", alt: "shelter icon", class: "ml-3" %>
          <p>My Shelter</p>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <%= link_to notifications_path, :action => 'go', class: "notify-button" do  %>
    <div class="notif-icon">
      <% if user_signed_in? %>
        <%= render 'notifications/counter', counter: current_user.notifications.unchecked.count%>
      <% end %>
       <% if current_page?(notifications_path) %>
        <%= image_tag "navbar/bell-white.png", alt: "bell icon active"%>
       <% else %>
        <%= image_tag "navbar/bell.png", alt: "bell icon"%>
      <% end %>
      <p>Notifications</p>
    </div>
  <% end %>
  <%#= link_to new_user_session_path, :method => 'get' do  %>
    <div class="btn-group dropup">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-color: #007880; background-color: #007880">
        <div class="settings-icon">
          <%= image_tag "navbar/settings.png", alt: "settings icon" %>
          <p>Settings</p>
        </div>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: 'delete'  %></li>
        <li> <%= link_to "Sign up", new_user_registration_path  %></li>
        <li><%= link_to "日本語", root_path, class: "ja" %></li>
      </ul>
    </div>

  <%# end %>
</div>
