<div class="home-header d-flex justify-content-center align-items-center">
  <h1>Select your shelter type</h1>
</div>

<div class="container-fluid d-flex flex-column justify-content-around">
  <div class="row">
    <div class="col-12 d-flex justify-content-around">
      <div class="earthquake">
        <%= image_tag "homepage/earthquake.png", alt: "earthquake icon", class: "ml-3 mb-2" %>
        <p>Earthquake</p>
      </div>
      <div class="tsunami">
        <%= image_tag "homepage/tsunami.png", alt: "tsunami icon" %>
        <p>Tsunami</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-around">
      <div class="mudslides">
        <%= image_tag "homepage/mudslides.png", alt: "mudslides icon", class: "ml-2 mb-2" %>
        <p>Mudslides</p>
      </div>
      <div class="flood">
        <%= image_tag "homepage/flood.png", alt: "flood icon" %>
        <p>Flood</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-around">
      <div class="high-tide">
        <%= image_tag "homepage/tide.png", alt: "high tide icon" %>
        <p>High Tide</p>
      </div>
      <div class="fire">
        <%= image_tag "homepage/fire.png", alt: "fire icon" %>
        <p>Fire</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-around">
      <div class="burst-pipe">
        <%= image_tag "homepage/pipes.png", alt: "burst pipe icon" %>
        <p>Burst Pipe</p>
      </div>
      <div class="volcano">
        <%= image_tag "homepage/volcano", alt: "volcano icon" %>
        <p>Volcano</p>
      </div>
    </div>
  </div>
</div>

