<header>
  <div class="overlay"></div>
    <%= video_tag("bird-house.mp4", autoplay: "autoplay", muted: "muted", loop: "loop", playsinline: "playsinline", id: "landing-video") %>
    <div class="container h-100">
      <div class="d-flex h-100 text-center">
        <div class="w-100 text-white">
          <h1 class="display-3">Shelter</h1>
          <p class="lead mb-4">Providing disaster evacuation and shelter relief</p>
          <div class="action-button">
            <%= link_to "GUIDE ME TO A SHELTER", home_path, class: "btn-action text-white px-3 py-2" %>
          </div>
          <h5>For the best experience on mobile:</h5>
          <div class="download-btn d-flex justify-content-center">
            <div class="iphone" data-toggle="modal" data-target="#iphoneModal">
              <h6 class="mr-3">INSTALL ON IPHONE</h6>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="iphoneModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header text-center">
                    <h2 class="modal-title" id="iphoneModalLabel">Install Shelter</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= image_tag "icons/apple-icon-180x180.png", class: "iphone-icon mb-3", alt: "shelter house logo" %>
                    <p class="mx-3">Install the Shelter app on your home screen for quick and easy access when you're on the go</p>
                  </div>
                  <div class="modal-footer">
                    Just tap <%= image_tag "iphonedl.jpg", alt: "safari download button", class: "safari" %> then 'Add to home screen'
                  </div>
                </div>
              </div>
            </div>

            <div class="android">
              <h6>INSTALL ON ANDROID (<%= image_tag "firefox.png", alt: "firefox icon" %> | <%= image_tag "chrome.png", alt: "chrome icon" %>)</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
</header>
<script>
  document.getElementById("landing-video").playbackRate = 0.4;
</script>
