  <div class="sign-in-bg container">
    <div class="registration">
      <div class="col-sm-6 offset-sm-3 sign-in-card">
        <div class="title">
          <h2 class="registration-title">Log in</h2>
        </div>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password" } %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "LOG IN", :class => "btn form-sign-up btn-lg" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>

<!-- Disabled the default devise links -->
<%#= render "devise/shared/links" %>
