<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" style="padding: 0;">
      <div class="shelters-map">
        <div class="shelters-search-bar">
          <%= form_tag helpers_shelters_path, method: :get do %>
            <%= text_field_tag :location,
              params[:location],
              class: "form-control", id: "location_input",
              placeholder: "Search location..."
            %>
          <% end %>
        </div>
        <% if @markers.present? %>
          <div
              id="map"
              style="width: 100vw;
              height: calc(100vh - 75px - 290px);
              "
              data-markers="<%= @markers.to_json %>"
              data-myLat="<%= @user_latitude %>"
              data-myLong="<%= @user_longitude  %>"
          ></div>
          <div class="map-footer">
            <div class="items-search-bar d-flex justify-content-center pb-2">
              <%= form_tag helpers_shelters_path, method: :get do %>
                <%= text_field_tag :item,
                  params[:item],
                  class: "form-control", id: "location_input",
                  placeholder: "Search by item..."
                %>
              <% end %>
            </div>
            <% if @posts.present? %>
              <div class="top-posts">
                <% if params[:item].present? %>
                  <h6>TOP POSTS FOR <%= params[:item].upcase %></h6>
                <% else %>
                  <h6>TOP POSTS FOR SEARCH</h6>
                <% end %>
                <% @posts[0..2].each do |post|  %>
                  <%= link_to post_path(post.id), :action => 'go' do %>
                  <div class="post d-flex justify-content-center">
                    <p><%= post.title  %></p>
                    <p class="pl-2"><i class="fas fa-heart"></i> <%= post.get_likes.size  %></p>
                  </div>
                  <% end %>
                <% end %>
              </div>
              <div class="footer-buttons d-flex align-items-center justify-content-center mt-1">
                <%= link_to "SEE FULL POSTS", posts_path(item: params[:item]) %>
              </div>
            <% else %>
              <div class="top-posts">
                <h6>TOP POSTS IN THIS AREA</h6>
                <% @topposts[0..2].each do |post|  %>
                  <%= link_to post_path(post.id), :action => 'go' do %>
                    <div class="post d-flex justify-content-center">
                      <p><%= post.title  %></p>
                      <p class="pl-2"><i class="fas fa-heart"></i> <%= post.get_likes.size  %></p>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <div class="footer-buttons d-flex align-items-center justify-content-center mt-1">
                <%= link_to "DETAILED AREA INFO", details_shelters_path  %>
              </div>
          <% end %>
          </div>
        <% else %>
          <div class="container-fluid no-shelter text-center">
            <div class="row">
              <div class="col-12">
                <% if @user_disaster.present? %>
                  <% if @user_disaster.include?("_") %>
                    <% @user_disaster = @user_disaster.split('_').map(&:capitalize).join(' ') %>
                  <% end %>
                  <h5>There are no <%= @user_disaster.singularize.capitalize %> shelters in your area.</h5>
                  <h6>Search again?</h6>
                <% else %>
                  <h5>There are no shelters in your area.</h5>
                  <h6>Search again?</h6>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- search bar should submit on enter -->
<script>
  const search = document.querySelector(".shelters-search-bar");
  search.addEventListener('keypress', (event) => {
    const key = event.which || event.keyCode;
    if (key === 13) { // 13 is enter
      // code for enter
      window.location.href = "/shelters";
    }
  });

  const search = document.querySelector(".items-search-bar");
  search.addEventListener('keypress', (event) => {
    const key = event.which || event.keyCode;
    if (key === 13) { // 13 is enter
      // code for enter
      window.location.href = "/shelters";
    }
  });

</script>
