<div class="container col-sm-6 offset-sm-3 make-request-form">

  <%= simple_form_for [shelter, post], url: url do |f| %>

    <div class="form-inputs">

      <%= f.input :title,
                  label: false,
                  placeholder: "Request Title",
                  input_html: { class: "form-text" },
                  required: true %>
      <%= f.input :description,
                  label: false,
                  placeholder: "Write your request here...",
                  input_html: { class: "form-description", rows: 5 },
                  required: true %>
      <%= f.input :photo,
                  input_html: { class: "form-photo" } %>
      <%= f.input :photo_cache, as: :hidden %>

    </div>

    <div class="form-tags">

      <% tag_selection = %w(Food Water Blanket Clothing Baby/Kid Hygiene Battery Medicine Other) %>
      <div class="user-tags"><%= @post.tag_list %></div>

      <fieldset class="form-group">
        <input type="hidden" name="post[tag_list][]" value="">

        <div class="tag-choices">
          <% tag_selection.each do |tag| %>
            <!-- <div class="form-check"> -->
              <input class="checkbox_hidden" type="checkbox" value="<%= tag %>" name="post[tag_list][]" id="post_tag_list_<%= tag.downcase %>">
              <label class="tag-choice" for="post_tag_list_<%= tag.downcase %>"><%= tag %></label>
            <!-- </div> -->
          <% end %>
        </div>
      </fieldset>

      <script>
        const elements = document.querySelectorAll(".tag-choice");
        const toggleActiveClass = (event) => {
          event.currentTarget.classList.toggle("active");
        };
        const toggleActiveOnClick = (element) => {
          element.addEventListener("click", toggleActiveClass);
        };
        elements.forEach(toggleActiveOnClick);

        // pre-select the current tags(in case of updating)
        const userTags = document.querySelector(".user-tags").innerText.split(", ");
        elements.forEach((element) => {
          if (userTags.includes(element.innerHTML)) {
            element.classList.add("active");
            element.previousElementSibling.checked = true;
            console.log(element.previousElementSibling)
          }
        });

      </script>

    </div>


    <div class="form-actions d-flex justify-content-center">
      <%= f.button :submit, "SUBMIT", class: "form-submit" %>
    </div>

  <% end %>

</div>
