<div class="container mb-5">

  <div class="shelter-header d-flex mt-3 justify-content-between">
    <div class="back-map d-flex">
      <%= link_to raw("<i class='fas fa-backward pt-1 mr-2'></i> Map"), shelters_path, class: "" %>
    </div>
    <div class="search-tags">
      <%= form_tag shelter_path, id: 'tag', method: :get do %>
        <%= select_tag "category", options_for_select([['Food', "Food"], ['Water', "Water"], ['Blanket', "Blanket"], ['Clothing', "Clothing"], ['Baby/Kid', "Baby/Kid"], ['Hygiene', "Hygiene"], ['Battery', "Battery"], ['Medicine', "Medicine"], ['Other', "Other"]]), include_blank: "Filter by post category" %>
      <% end %>
    </div>
  </div>

  <% if user_signed_in? && (current_user.voted_for? @shelter) %>
    <div class="shelter-user text-center mb-3 mt-2">
      <%= cl_image_tag (current_user.avatar), class: 'user-avatar' %>
    </div>
  <% end %>

  <div class="shelter-name d-flex justify-content-center mt-3">
    <h3 class="ja"><%= @shelter.place_name %></h3>
    <% if user_signed_in? %>
      <!-- in case the shelter is favorite, show yellow star -->
      <% if current_user.voted_for? @shelter %>
        <%= link_to favorite_shelter_path do %>
          <i class="fas fa-check-circle favorite mt-1 ml-2"></i>
        <% end %>
      <!-- in case the shelter is not favorite, show transparent star -->
      <% else %>
        <%= link_to favorite_shelter_path do %>
          <i class="far fa-check-circle not-favorite m2-2 ml-2"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="ja-name">
    <% project_id = ENV["CLOUD_PROJECT_ID"] %>
    <% translate = Google::Cloud::Translate.new project: project_id %>
    <p class="jap-add"><%= translate.translate @shelter.place_name, from: "ja", to: "en" %></p>
  </div>

  <div class="shelter-address">
    <p class="mt-1"><%= @shelter.street %></p>
    <p class="jap-add"><%= translate.translate @shelter.street, from: "ja", to: "en" %></p>
  </div>

  <div class="request-help text-center mt-2 mb-3">
    <%= link_to new_shelter_post_path(@shelter) do %>
      <div class="btn btn-primary" id="request-button">REQUEST HELP</div>
    <% end %>
  </div>

  <div class="all-posts cards">
    <div class="rows">
      <% if @posts == [] %>
        <p class="">Currently the shelter doesn't have any post.</p>
      <% else %>
        <% @posts.order('created_at DESC').each do |post| %>
        <%= link_to post_path(post.id) do %>
          <div class="post card mb-3 animated fadeInUp">
            <div class="post-card-header d-flex justify-content-between">
              <h4 class="ml-3 pt-3 pb-2"><%= post.title %></h4>
              <div class="number-of-likes d-flex align-items-center mr-1">
                <% if user_signed_in? %>
                  <% if current_user.voted_for? post %>
                    <object>
                      <%= link_to upvote_post_from_shelter_path(post.id) do %>
                        <i class="fas fa-heart voted fa-2x"></i>
                      <% end %>
                    </object>
                  <% else %>
                    <object>
                      <%= link_to upvote_post_from_shelter_path(post.id) do %>
                        <i class="far fa-heart not-voted fa-2x"></i>
                      <% end %>
                    </object>
                  <% end %>
                <% else %>
                  <i class="fas fa-heart fa-2x mr-1" style="color: #3BB4C1;"></i>
                <% end %>
                <p class="ml-1 mt-3 mr-3"><%= post.get_likes.size %></p>
              </div>
            </div>
            <p class="mx-3"><%= post.description %></p>
            <div class="post-card-foot d-flex justify-content-between">
              <div class="tag-list d-flex">
                <% post.tag_list.each do |tag| %>
                  <div class="single-tag">
                    <p class="px-2 py-1"><%= tag %></p>
                  </div>
                <% end %>
              </div>
              <div class="posted-by mr-4">
                <%= cl_image_tag (post.user.avatar), class: 'poster-avatar' %>
                <% if user_signed_in? %>
                  <% if current_user.get_voted(Hinanjyo).first == post.user.get_voted(Hinanjyo).first %>
                    <i class="fas fa-check-circle"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="date-posted ml-3 mb-2">
              <p><%= post.created_at.strftime("%b. %d, %I:%M %p ") %></p>
            </div>
          </div>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>

</div>

<script>
  const options = document.querySelectorAll('#category option');
  options.forEach((option) => {
    option.addEventListener('click', (event) => {
    console.log(event.originalTarget.attributes.value.nodeValue);
    document.forms["tag"].submit();
    });
  });
</script>
